# OS
.DS_Store

# Android / Gradle
**/.gradle/
**/build/
.kotlin/
android/local.properties
android/keystore.properties
android/*.jks
android/*.keystore
android/.idea/
*.iml
captures/
*.apk
*.aab
*.dex
*.class
